body{
    font-size: 25px;
    background-color: rgb(94, 41, 113);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
input{
    margin: 4px;
    background-color: rgb(197, 144, 216);
    border: 1.5px solid black;
    border-radius: 5px;
    font-size: 25px;
    padding: 4px;
}
li{
    margin: 4px;
}
h1{
    text-align: center;
    border: 3px solid black;
    border-radius: 30px;
    background-color: rgb(123, 73, 141);
    padding: 15px;
}
h2{
    text-align: center;
}
button{
    margin: 2px;
    background-color: rgb(142, 47, 92);
    border: 1.5px solid black;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.container > div{
    background-color: rgb(123, 73, 141);
    border: 3px solid black;
    border-radius: 30px;
    padding: 20px;
    width: 550px;
}
#addDiv > div{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    gap: 10px;
}
#addDiv label{
    white-space: nowrap;
}
#addDiv input{
    flex: 1;
}
/* Bei kleineren Bildschirmen: */
@media (max-width: 1220px){
    .container {
        flex-direction: column;
        align-items: center;
        gap: 20px
    }
    .container > div {
        width: 90%;
    }
}